body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

img {
    width: 300px;
    flex-grow: 1;
}

button {
    background-color: #3883F6;
    border-radius: 5px;
    border: none;
    border: none;
    color: white;
    padding: 5px 25px;
    cursor: pointer;
}

h1,
p {
    margin: 0 0 10px 0;
}

a {
    color: grey;
    margin: 10px;
    cursor: pointer;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 10px;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section-display {
    display: flex;
    
    margin: 100px;
    justify-content: center;
    flex-grow: 1;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.tsd-left {
    width: 300px;
    flex-grow: 1;
}
